/* this is comment */
div p{
    color: blueviolet;
}
.div{
    color: chartreuse;
    background-color: burlywood;
}
#para{
    color:chocolate;
    background-color:aquamarine;
}
#loe{
    background-color: bisque;
}